.post {
    margin-top: 60px;
}

.comment {
    display: flex;
    margin-bottom: 5px;
    background-color: #7abaff;
}

.comments-info {

}

.comments-container {
    justify-content: space-between;
}
