.post {
    margin-top: 60px;
}

.comment {

    margin-bottom: 5px;
    background-color: #7abaff;
}

.comment-creator {
    border-color: #171a1d;
    margin: 10px 10px;
}

.comment-avatar {
    width: 37px;

}
