.container {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 0;
    padding: 0;
}

.menu-cont {

}

.menu {
    /*height: 45px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.menu span {

}

.exit {
    /*display: flex;*/
    width: min-content;
    justify-content: space-between;
    align-items: center;
}

.exit button {

}